<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AI Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
</head>

<body>
    <div class="row">
        <div id="faces">

        </div>

        <div id="search">
            <input id="searchBar" type="text" name="search" onkeyup="searchEvent(event)" placeholder="Search.. (Eg. Tree,Animal...)">
            <form class="form-inline" action="/" method="POST" encType="multipart/form-data">
                <div class="form-group">
                    <input id="upload" type="file" name="img" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
            <div id="res"></div>
        </div>

        <div id="pics">
            <% ImageKeysObj.ImageKeys.forEach(function(key){ %>
                <div class="img-container">
                    <a href="http://localhost:4000/similar/<%=key%>">
                        <div class="img" style="background-image:url('https://s3.us-east-2.amazonaws.com/yogen1/<%=key%>');"></div>
                    </a>
                </div>
                <% });%>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>